#header-row{
    display: flex;
}

#nav-bar{
    background-image: url('../images/background.png');
    height: 20vh;
    width: 100vw;
    padding: 10px;
}

.nav-pages{
    flex: 70%;
    padding-top: 10px;
    height: 20vh;
    padding-left: 20px;
    padding-right: 10px;
    position: relative;
}

.drop-down{
    width: 9vw;
}

.acc-logo{
    width: 60px;
    height: 60px;
    padding-top: 2.5vh;
    padding-left: 20px;
    padding-right: 10px;
}

.logo{
    float: left;
    position: absolute;
    left:0px;

}

h2{
    padding-top: 2.5vh;
}
