
.business-container{
    display: flex;
    overflow: scroll;
    background-image: url('../images/similar-background.png');
}

.business-map{
    width: 50vw;
}

a:link{
    text-decoration: none;
    color: black;
}

a:visited{
    text-decoration: none;
    color: black;
}

.Cards{
    display: grid;
    grid-auto-rows: 10vh;
    padding-left: 50px;
    width: 100px;
}

.business-card{
    border-radius: 8px;
    border: solid;
}


