.song_single {
  border-radius: 50px;
  width: 300px;
  border: 2px solid #8b1a10;
  background-color: none;
}

h1 {
  font-family: "Tenor Sans";
  color: #8b1a10;
  font-size: 30px;
}

h2 {
  font-family: "Tenor Sans";
  color: #8b1a10;
  font-size: 20px;
}

.spotify_grid {
  display: inline-grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 30px;
  row-gap: 30px;
}

.searchbar-container {
  display: flex;
  background-color: #ffffff;
  border-radius: 10px;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 600px;
  margin: auto;
}

.search-input {
  flex: 1;
  background-color: #8b1a10;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-right: 150px;
  font-family: "Tenor Sans";
  font-size: 20px;
  color: #ffffff;
}

input::placeholder {
  font-family: "Tenor Sans";
  font-size: 20px;
  color: white;
}
